@import '../Sass/variables';
@import '../Sass/mixins';

.hero {
  font-family: 'Rasa-Regular';
  margin-top: 20px;

  &__discount {
    background-color: $purple-light;
    width: auto;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  &__title {
    font-family: 'Rasa-Bold';
    font-size: 60px;
    margin-bottom: 20px;

    span {
      color: $purple-intense;
    }
  }

  &__description {
    font-family: 'Inter-Regular';
    font-size: 16px;
    color: $dusty-lilac;
    margin-bottom: 30px;
  }

  &__cta {
    display: flex;
    width: auto;
    gap: 40px;
    margin-bottom: 30px;

    &--light {
      @include button-cta($bgColor: $lilac-light);
    }

    &--dark {
      @include button-cta($bgColor: $lavender-light);
    }
  }

  &__numbers {
    display: flex;
    width: auto;
    gap: 10px;
    margin-bottom: 30px;

    li {
      display: flex;
      align-items: center;
      gap: 5px;

      h2 {
        font-family: 'Rasa-Bold';
        font-size: 35px;
      }

      p {
        font-family: 'Inter-Regular';
        font-size: 12px;
        color: $dusty-lilac;
      }
    }
  }

  &__image {
    position: relative;
    border: 2px solid $black;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--btn {
      position: absolute;
      bottom: 20px;
      left: -30px;
      @include button-cta($bgColor: $lavender-light, $padding: 10px 40px, $fontSize: 36px);
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    &__discount {
      width: fit-content;
    }

    &__title {
      font-size: 80px;
    }

    &__content {
      max-width: 550px;
    }

    &__image {
      padding: 0 30px;
    }
  }
}
