@import './components/Sass/variables.scss';
@import './components/Sass/mixins.scss';

@font-face {
  font-family: 'Rasa-Regular';
  src: url('./assets/fonts/Rasa/Rasa-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Rasa-Bold';
  src: url('./assets/fonts/Rasa/Rasa-Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./assets/fonts/Rasa/Inter-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./assets/fonts/Rasa/Inter-Bold.ttf')
    format('truetype');
}



body {
  background-color: $off-white;
}

ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

p,h1,h2,h3,h4,h5,h6, body, html {
  margin: 0;
  padding: 0;
}
